* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #000000 0.3%, #ff8c00 50%, #ffdd57 100%); 
  overflow-y: hidden;
  overflow-x: hidden;
  color: #fff; /* Устанавливаем цвет текста */
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

.score {
  font-size: 36px;
  font-weight: bold;
}


.circle {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.game-container {
  width: 200px;
  margin: 0 auto;
}

.circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}
/*МЕНЮЮЮЮЮЮЮЮЮ*/
.menu {
  background: rgba(42, 41, 46, 0.3); /* Полупрозрачный фон */
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 1.3rem;
  right: 1.3rem;
  justify-content: space-around;
  height: 60px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.menu-button {
  color: #ffffff; /* Белый цвет текста */
  cursor: pointer;
  padding: 8px 15px; /* Уменьшенные отступы для меньшего фона */
  flex: 1; /* Равное распределение кнопок по ширине */
  text-align: center; /* Центрируем текст и иконки */
  border-radius: 8px; /* Немного уменьшили закругление углов */
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Лёгкий фон при наведении */
}

.menu-button.active {
  background-color: rgba(255, 255, 255, 0.15); /* Полупрозрачный белый фон для активной вкладки */
  color: #ffffff; /* Цвет текста остаётся белым */
}

/* === /NEW === */

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.game {
  position: relative;
  padding: 1rem;
}

.page {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.progress {
  position: relative;
}

.progress-level {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 25px;
  margin-bottom: 1rem;
  background: #4b402e;
  overflow: hidden;
}

.progress-value {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s width ease;
}

.text-content {
  color: #fff;
}

.text-content h1,
.text-content h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.list {
}

.list-item {
  background: #2a292e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.list-btn {
  background: #fff;
  color: #000;
  border-radius: 20px;
  padding: 0 0.5rem;
  text-decoration: none;
  margin-left: 1rem;
}

.list-btn.done {
  background: #008800;
  color: #fff;
}

.referal {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: gold;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
/* мои изменения в ксс идут отсюда */
.earnings {
  text-align: center;
  margin: 20px 0;
}

.earnings p {
  display: inline; /* Делаем текстовым элементом в строке */
  white-space: nowrap; /* Убираем перенос текста на новую строку */
  font-size: 15px; /* Настроим размер шрифта по необходимости */
}



/* Стили для счетчика тапов */
.tap-counter {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.tap-icon {
  width: 24px; /* Ширина изображения */
  height: 24px; /* Высота изображения */
  margin-right: 8px; /* Отступ справа от изображения */
}

.home-container {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Расстояние между элементами */
}


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.username {
  font-size: 14px;
  margin-right: 50px;
}

.bot-title {
  font-size: 30px;
  font-weight: bold;
  flex-grow: 1; /* Расширяет заголовок, чтобы он был по центру */
  text-align: center;

}

.contest-container {
  position: absolute;
  bottom: 160px;
  right: 8rem;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
  border-radius: 15px; /* Закругленные углы */
  padding: 10px 20px; /* Внутренние отступы */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень */
  width: 15%; /* Ширина на весь контейнер */
}


.contest-image {
  width: 100%;
  max-width: 35px; /* Максимальная ширина изображения */
  border-radius: 10px;
}

.timer {
  margin-top: 10px;
  font-size: 16px;
  color: #ffdd57; /* Цвет таймера */
}

.valuta-icon {
  width: 40px; /* Настройте размер иконки */
  height: 40px;
  margin-bottom: 5px; /* Отступ снизу, чтобы отделить от текста */
}


.earning-item {
  font-size: 14px;
  margin-left: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-button {
  background-color: #f0a500;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}